/* Dark Theme (Default) */
:root {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --navbar-bg: #1f1f1f;
  --navbar-text-color: #e0e0e0;
  --link-hover-color: #bb86fc;

  --button-bg: #333333;
  --button-text-color: #e0e0e0;
  --button-hover-bg: #444444;
  --button-active-bg: #555555;
  --button-disabled-bg: #2a2a2a;
  --button-disabled-text-color: #555555;
}

/* Light Theme */
[data-theme='light'] {
  --background-color: #f9f9f9;
  --text-color: #1e1e1e;
  --navbar-bg: #ffffff;
  --navbar-text-color: #1e1e1e;
  --link-hover-color: #6200ee;

  --button-bg: #e0e0e0;
  --button-text-color: #1e1e1e;
  --button-hover-bg: #d4d4d4;
  --button-active-bg: #c8c8c8;
  --button-disabled-bg: #f0f0f0;
  --button-disabled-text-color: #b0b0b0;
}


/* Random Palette 1 */
[data-theme='random1'] {
  --background-color: #ffeaa7;
  --text-color: #2d3436;
  --navbar-bg: #e17055;
  --navbar-text-color: #ffffff;
  --link-hover-color: #fd79a8;
}

/* Random Palette 2 */
[data-theme='random2'] {
  --background-color: #74b9ff;
  --text-color: #2d3436;
  --navbar-bg: #0984e3;
  --navbar-text-color: #ffffff;
  --link-hover-color: #fdcb6e;
}

/* Random Palette 3 */
[data-theme='random3'] {
  --background-color: #fab1a0;
  --text-color: #2d3436;
  --navbar-bg: #d63031;
  --navbar-text-color: #ffffff;
  --link-hover-color: #ff7675;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: Arial, sans-serif;
}
