.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 3rem 2rem;
}

.navigationButtons {
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
}

.navigationButtons button:not(:last-child) {
  margin-right: 20px;
}